<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property name="LOG_LOCATION" value="${user.home}/logs" />

	<appender name="consoleOut" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{yyyyMMdd HH:mm:ss} [%-40thread] %-5level %logger{36} - %msg%n</Pattern>
		</layout>
	</appender>

	<appender name="debugFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_LOCATION}/debug.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{yyyyMMdd HH:mm:ss} [%-40thread] %-5level %logger{36} - %msg%n</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${LOG_LOCATION}/archived/debug.%d{yyyyMMdd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>200MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>
	
	
	<root level="debug">
		<appender-ref ref="consoleOut" />
		<appender-ref ref="debugFile" />
	</root>

</configuration>
